In [2]:
import pandas as pd
import numpy as np
import re

In [28]:
data = pd.read_csv('met_DEG_results.csv').rename(columns={'Unnamed: 0':'Gene'})
data

              Gene     baseMean  log2FoldChange     lfcSE    pvalue      padj
0             ahpF   963.833655        3.073755  0.079049  0.000000  0.000000
1              alr  2545.780754       -1.734111  0.044360  0.000000  0.000000
2     BACUNI_00096   850.281185        7.852034  0.192621  0.000000  0.000000
3     BACUNI_00131  1085.059667        7.023983  0.138841  0.000000  0.000000
4     BACUNI_00133  1677.389575        7.170780  0.124928  0.000000  0.000000
...            ...          ...             ...       ...       ...       ...
3522  BACUNI_02853   261.030516       -0.002319  0.116867  0.983258  0.984194
3523          mntP   836.157008        0.001313  0.054905  0.983357  0.984194
3524  BACUNI_04533   181.698501       -0.001584  0.102137  0.987093  0.987653
3525  BACUNI_01130   178.706667        0.000972  0.110300  0.993477  0.993759
3526  BACUNI_02665    27.633014        0.001008  0.255135  0.997554  0.997554

[3527 rows x 6 columns]

In [29]:
data = data[(abs(data.log2FoldChange) > 1.5) & (data.padj < 0.05)]
data

,Gene,baseMean,log2FoldChange,lfcSE,pvalue,padj
0,ahpF,963.833655,3.073755,0.079049,0.000000,0.000000
1,alr,2545.780754,-1.734111,0.044360,0.000000,0.000000
2,BACUNI_00096,850.281185,7.852034,0.192621,0.000000,0.000000
3,BACUNI_00131,1085.059667,7.023983,0.138841,0.000000,0.000000
4,BACUNI_00133,1677.389575,7.170780,0.124928,0.000000,0.000000
...,...,...,...,...,...,...
2987,bfce,58.034594,3.158835,1.201912,0.000541,0.000639
2990,BACUNI_01912,7.510878,1.512196,0.485279,0.000574,0.000677
3006,bc2018--bc2018___80_02107,4.759620,-2.661983,0.885857,0.000831,0.000975
3055,xseB,5.155659,-1.762769,0.670568,0.002866,0.003307
3104,contig_4_ncRNA34,5.291028,-1.838560,0.898253,0.008442,0.009590

In [10]:
data = data[(data.log2FoldChange > 0) & (data.padj < 0.05)]
data

              Gene     baseMean  log2FoldChange     lfcSE    pvalue      padj
0             ahpF   963.833655        3.073755  0.079049  0.000000  0.000000
2     BACUNI_00096   850.281185        7.852034  0.192621  0.000000  0.000000
3     BACUNI_00131  1085.059667        7.023983  0.138841  0.000000  0.000000
4     BACUNI_00133  1677.389575        7.170780  0.124928  0.000000  0.000000
5     BACUNI_00134  2331.660369        5.907306  0.090052  0.000000  0.000000
...            ...          ...             ...       ...       ...       ...
2920  BACUNI_02974     9.875159        1.624613  0.451192  0.000088  0.000107
2922  BACUNI_02128     9.585572        1.622155  0.452262  0.000089  0.000108
2926  BACUNI_02106     8.872644        1.637835  0.460556  0.000099  0.000119
2987          bfce    58.034594        3.158835  1.201912  0.000541  0.000639
2990  BACUNI_01912     7.510878        1.512196  0.485279  0.000574  0.000677

[932 rows x 6 columns]

In [31]:
data[data.log2FoldChange > 0].sort_values('padj').head(50).Gene.to_list()

['ahpF',
 'BACUNI_03743',
 'BACUNI_03652',
 'BACUNI_03643',
 'BACUNI_03512',
 'BACUNI_03481',
 'BACUNI_03391',
 'BACUNI_03387',
 'BACUNI_03182',
 'BACUNI_03757',
 'BACUNI_03083',
 'BACUNI_02788',
 'BACUNI_02748',
 'BACUNI_02713',
 'BACUNI_02648',
 'BACUNI_02645',
 'BACUNI_02644',
 'BACUNI_02643',
 'BACUNI_02460',
 'BACUNI_02789',
 'BACUNI_03818',
 'BACUNI_03819',
 'BACUNI_03859',
 'otsB',
 'mraZ',
 'grpE',
 'groS',
 'groL',
 'dnaK',
 'clpB',
 'bc2018--bc2018___80_02675',
 'bc2018--bc2018___80_02478',
 'bc2018--bc2018___80_01083',
 'bc2018--bc2018___80_00697',
 'BACUNI_04692',
 'BACUNI_04593',
 'BACUNI_04543',
 'BACUNI_04535',
 'BACUNI_04263',
 'BACUNI_04043',
 'BACUNI_04040',
 'BACUNI_03980',
 'BACUNI_02455',
 'BACUNI_02454',
 'BACUNI_03319',
 'BACUNI_02222',
 'BACUNI_00850',
 'BACUNI_00770',
 'BACUNI_00769',
 'BACUNI_00754']

In [7]:
data[data.log2FoldChange < 0].sort_values('padj').head(50)

Empty DataFrame
Columns: [Gene, baseMean, log2FoldChange, lfcSE, pvalue, padj]
Index: []

In [32]:
data[data.Gene == 'recA']

     Gene     baseMean  log2FoldChange     lfcSE         pvalue           padj
307  recA  4824.109398       -1.860321  0.063871  3.223204e-186  3.690987e-185

In [12]:
data[data.Gene == 'nfsA']

Empty DataFrame
Columns: [Gene, baseMean, log2FoldChange, lfcSE, pvalue, padj]
Index: []

In [27]:
egg = pd.read_csv('metatranscriptomics/eggnog.csv', comment='#')[['seed_ortholog', 'GOs','KEGG_ko','Preferred_name', 'PFAMs', 'eggNOG_OGs']]
egg

,seed_ortholog,GOs,KEGG_ko,Preferred_name,PFAMs,eggNOG_OGs
0,411479.BACUNI_00020,-,-,-,"AAA_14,DUF4143","COG1373@1|root,COG1373@2|Bacteria,4NG8U@976|Ba..."
1,411479.BACUNI_03780,-,ko:K07133,-,"AAA_14,DUF4143","COG1373@1|root,COG1373@2|Bacteria,4NJDI@976|Ba..."
2,1236514.BAKL01000173_gene5847,-,-,-,-,"2E4EA@1|root,32Z9I@2|Bacteria,4NTWC@976|Bacter..."
3,1236514.BAKL01000173_gene5847,-,-,-,-,"2E4EA@1|root,32Z9I@2|Bacteria,4NTWC@976|Bacter..."
4,411479.BACUNI_03997,-,ko:K03530,hupB,Bac_DNA_binding,"COG0776@1|root,COG0776@2|Bacteria,4NSK6@976|Ba..."
...,...,...,...,...,...,...
1869,411479.BACUNI_04011,-,-,-,-,"COG4735@1|root,COG4735@2|Bacteria,4NF74@976|Ba..."
1870,411479.BACUNI_04009,-,-,-,"Biotin_lipoyl_2,HlyD_3","COG0845@1|root,COG0845@2|Bacteria,4NE7P@976|Ba..."
1871,411479.BACUNI_04008,-,-,-,ACR_tran,"COG0841@1|root,COG0841@2|Bacteria,4NDZG@976|Ba..."
1872,411479.BACUNI_04007,-,-,-,DUF1593,"COG1231@1|root,COG1231@2|Bacteria,4PMAQ@976|Ba..."
1873,411479.BACUNI_04006,-,-,-,OEP,"COG1538@1|root,COG1538@2|Bacteria,4NFTV@976|Ba..."

In [28]:
egg = egg.replace('-', np.NaN, regex=True)
egg

,seed_ortholog,GOs,KEGG_ko,Preferred_name,PFAMs,eggNOG_OGs
0,411479.BACUNI_00020,NaN,NaN,NaN,"AAA_14,DUF4143","COG1373@1|root,COG1373@2|Bacteria,4NG8U@976|Ba..."
1,411479.BACUNI_03780,NaN,ko:K07133,NaN,"AAA_14,DUF4143","COG1373@1|root,COG1373@2|Bacteria,4NJDI@976|Ba..."
2,1236514.BAKL01000173_gene5847,NaN,NaN,NaN,NaN,"2E4EA@1|root,32Z9I@2|Bacteria,4NTWC@976|Bacter..."
3,1236514.BAKL01000173_gene5847,NaN,NaN,NaN,NaN,"2E4EA@1|root,32Z9I@2|Bacteria,4NTWC@976|Bacter..."
4,411479.BACUNI_03997,NaN,ko:K03530,hupB,Bac_DNA_binding,"COG0776@1|root,COG0776@2|Bacteria,4NSK6@976|Ba..."
...,...,...,...,...,...,...
1869,411479.BACUNI_04011,NaN,NaN,NaN,NaN,"COG4735@1|root,COG4735@2|Bacteria,4NF74@976|Ba..."
1870,411479.BACUNI_04009,NaN,NaN,NaN,"Biotin_lipoyl_2,HlyD_3","COG0845@1|root,COG0845@2|Bacteria,4NE7P@976|Ba..."
1871,411479.BACUNI_04008,NaN,NaN,NaN,ACR_tran,"COG0841@1|root,COG0841@2|Bacteria,4NDZG@976|Ba..."
1872,411479.BACUNI_04007,NaN,NaN,NaN,DUF1593,"COG1231@1|root,COG1231@2|Bacteria,4PMAQ@976|Ba..."
1873,411479.BACUNI_04006,NaN,NaN,NaN,OEP,"COG1538@1|root,COG1538@2|Bacteria,4NFTV@976|Ba..."

In [29]:
egg[['1', 'bacuni']]=egg['seed_ortholog'].str.split(".", expand = True)
egg[['COG', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']] = egg['eggNOG_OGs'].str.split("@", expand = True)
egg = egg[['bacuni', 'Preferred_name', 'GOs', 'KEGG_ko', 'Preferred_name', 'PFAMs', 'COG']]
egg

,bacuni,Preferred_name,GOs,KEGG_ko,Preferred_name,PFAMs,COG
0,BACUNI_00020,NaN,NaN,NaN,NaN,"AAA_14,DUF4143",COG1373
1,BACUNI_03780,NaN,NaN,ko:K07133,NaN,"AAA_14,DUF4143",COG1373
2,BAKL01000173_gene5847,NaN,NaN,NaN,NaN,NaN,2E4EA
3,BAKL01000173_gene5847,NaN,NaN,NaN,NaN,NaN,2E4EA
4,BACUNI_03997,hupB,NaN,ko:K03530,hupB,Bac_DNA_binding,COG0776
...,...,...,...,...,...,...,...
1869,BACUNI_04011,NaN,NaN,NaN,NaN,NaN,COG4735
1870,BACUNI_04009,NaN,NaN,NaN,NaN,"Biotin_lipoyl_2,HlyD_3",COG0845
1871,BACUNI_04008,NaN,NaN,NaN,NaN,ACR_tran,COG0841
1872,BACUNI_04007,NaN,NaN,NaN,NaN,DUF1593,COG1231
1873,BACUNI_04006,NaN,NaN,NaN,NaN,OEP,COG1538

In [42]:
match = pd.read_csv('index_matching.csv')
match

,index,bacuni,Entry.Name,Gene
0,bc2018--bc2018___80_00001,bc2018--bc2018___80_00001,NaN,bc2018--bc2018___80_00001
1,bc2018--bc2018___80_00002,BACUNI_00026,A7UXK8_BACUC,BACUNI_00026
2,bc2018--bc2018___80_00003,BACUNI_00025,NaN,BACUNI_00025
3,bc2018--bc2018___80_00004,BACUNI_00020,NaN,BACUNI_00020
4,bc2018--bc2018___80_00005,BACUNI_00054,A7UXN6_BACUC,BACUNI_00054
...,...,...,...,...
3890,bc2018--bc2018___80_03908,BACUNI_04008,NaN,BACUNI_04008
3891,bc2018--bc2018___80_03909,BACUNI_04007,NaN,BACUNI_04007
3892,bc2018--bc2018___80_03910,BACUNI_04006,NaN,BACUNI_04006
3893,bc2018--bc2018___80_03911,BACUNI_04003,A7V8T3_BACUC,secD
3894,bc2018--bc2018___80_03912,BACUNI_04002,A7V8T2_BACUC,BACUNI_04002

In [31]:
final = pd.merge(egg, match, how='inner', on='bacuni')[['Gene','GOs', 'KEGG_ko', 'PFAMs', 'COG']]
final

              Gene  GOs    KEGG_ko                   PFAMs      COG
0     BACUNI_00020  NaN        NaN          AAA_14,DUF4143  COG1373
1     BACUNI_00020  NaN        NaN          AAA_14,DUF4143  COG1373
2     BACUNI_00020  NaN        NaN          AAA_14,DUF4143  COG1373
3     BACUNI_00020  NaN        NaN          AAA_14,DUF4143  COG1373
4     BACUNI_03780  NaN  ko:K07133          AAA_14,DUF4143  COG1373
...            ...  ...        ...                     ...      ...
1775  BACUNI_04011  NaN        NaN                     NaN  COG4735
1776  BACUNI_04009  NaN        NaN  Biotin_lipoyl_2,HlyD_3  COG0845
1777  BACUNI_04008  NaN        NaN                ACR_tran  COG0841
1778  BACUNI_04007  NaN        NaN                 DUF1593  COG1231
1779  BACUNI_04006  NaN        NaN                     OEP  COG1538

[1780 rows x 5 columns]

In [39]:
final[~final['Gene'].str.startswith('BACUNI')]

,Gene,GOs,KEGG_ko,PFAMs,COG
8,hup,NaN,ko:K03530,Bac_DNA_binding,COG0776
9,argS,"GO:0003674,GO:0003824,GO:0004812,GO:0004814,GO...",ko:K01887,NaN,COG0018
14,comF,NaN,ko:K00764,Pribosyltran,COG1040
19,bglX,NaN,ko:K05349,NaN,COG1472
30,bglX,NaN,ko:K05349,NaN,COG1472
...,...,...,...,...,...
1768,aroQ,NaN,ko:K03786,DHquinase_II,COG0757
1769,pyk,NaN,ko:K00873,"PK,PK_C",COG0469
1771,mtnN,NaN,ko:K01243,PNP_UDP_1,COG0775
1772,luxS,NaN,ko:K07173,LuxS,COG1854
1773,typA,NaN,ko:K06207,"EFG_C,GTP_EFTU,GTP_EFTU_D2",COG1217

In [34]:
final[final.Gene =='BACUNI_04263']

Empty DataFrame
Columns: [Gene, GOs, KEGG_ko, PFAMs, COG]
Index: []

In [46]:
filtered = data[(abs(data.log2FoldChange) > 1.5) & (data.padj < 0.05)].sort_values('padj').head(500)
res = pd.merge(filtered[['Gene','baseMean','log2FoldChange', 'padj' ]], match, how='inner', on='Gene')
res

,Gene,baseMean,log2FoldChange,padj,index,bacuni,Entry.Name
0,ahpF,963.833655,3.073755,0.000000e+00,bc2018--bc2018___80_03570,BACUNI_01061,A7V0H6_BACUC
1,BACUNI_04381,2878.587732,-2.408143,0.000000e+00,bc2018--bc2018___80_01209,BACUNI_04381,A7V9V6_BACUC
2,BACUNI_04263,1630.681875,5.079540,0.000000e+00,bc2018--bc2018___80_01312,BACUNI_04263,NaN
3,BACUNI_04043,432.880331,3.370954,0.000000e+00,bc2018--bc2018___80_03879,BACUNI_04043,NaN
4,BACUNI_04040,1261.835650,2.038920,0.000000e+00,bc2018--bc2018___80_03881,BACUNI_04040,A7V8X0_BACUC
...,...,...,...,...,...,...,...
505,BACUNI_04172,432.852356,-1.929469,7.845569e-118,bc2018--bc2018___80_03777,BACUNI_04172,A7V999_BACUC
506,BACUNI_00766,238.895006,2.611811,9.665655e-118,bc2018--bc2018___80_03269,BACUNI_00766,NaN
507,bc2018--bc2018___80_01861,777.696124,-2.592816,1.355047e-117,bc2018--bc2018___80_01861,bc2018--bc2018___80_01861,NaN
508,BACUNI_04121,395.769795,2.269521,2.870300e-117,bc2018--bc2018___80_03818,BACUNI_04121,NaN
509,BACUNI_04448,844.043733,-2.070776,3.883238e-117,bc2018--bc2018___80_01150,BACUNI_04448,A7VA22_BACUC

In [47]:
for i in res.bacuni.to_list():
    with open('david.txt', 'a') as out:
        out.write(f'{i}\n')

In [48]:
for i in match.bacuni.to_list():
    with open('david_back.txt', 'a') as out:
        out.write(f'{i}\n')

In [ ]:
filtered = data[(abs(data.log2FoldChange) > 1.5) & (data.padj < 0.05)].sort_values('padj').head(500)
res = pd.merge(filtered[['Gene','baseMean','log2FoldChange', 'padj' ]], final, how='left')

In [45]:
filtered

,Gene,baseMean,log2FoldChange,lfcSE,pvalue,padj
0,ahpF,963.833655,3.073755,0.079049,0.000000e+00,0.000000e+00
93,BACUNI_04381,2878.587732,-2.408143,0.054267,0.000000e+00,0.000000e+00
92,BACUNI_04263,1630.681875,5.079540,0.076057,0.000000e+00,0.000000e+00
91,BACUNI_04043,432.880331,3.370954,0.085479,0.000000e+00,0.000000e+00
90,BACUNI_04040,1261.835650,2.038920,0.053470,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...
574,BACUNI_04172,432.852356,-1.929469,0.083553,1.279048e-118,7.845569e-118
576,BACUNI_00766,238.895006,2.611811,0.113227,1.581254e-118,9.665655e-118
577,bc2018--bc2018___80_01861,777.696124,-2.592816,0.112499,2.220632e-118,1.355047e-117
578,BACUNI_04121,395.769795,2.269521,0.098518,4.711947e-118,2.870300e-117
579,BACUNI_04448,844.043733,-2.070776,0.089991,6.385819e-118,3.883238e-117

In [64]:
filtered

,Gene,baseMean,log2FoldChange,lfcSE,pvalue,padj
0,ahpF,963.833655,3.073755,0.079049,0.000000e+00,0.000000e+00
93,BACUNI_04381,2878.587732,-2.408143,0.054267,0.000000e+00,0.000000e+00
92,BACUNI_04263,1630.681875,5.079540,0.076057,0.000000e+00,0.000000e+00
91,BACUNI_04043,432.880331,3.370954,0.085479,0.000000e+00,0.000000e+00
90,BACUNI_04040,1261.835650,2.038920,0.053470,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...
574,BACUNI_04172,432.852356,-1.929469,0.083553,1.279048e-118,7.845569e-118
576,BACUNI_00766,238.895006,2.611811,0.113227,1.581254e-118,9.665655e-118
577,bc2018--bc2018___80_01861,777.696124,-2.592816,0.112499,2.220632e-118,1.355047e-117
578,BACUNI_04121,395.769795,2.269521,0.098518,4.711947e-118,2.870300e-117
579,BACUNI_04448,844.043733,-2.070776,0.089991,6.385819e-118,3.883238e-117

In [70]:
res.to_csv('met_DEG_sig_top.csv', index=False)

In [65]:
filtered = data[data.log2FoldChange > 0].sort_values('padj').head(500)
res = pd.merge(filtered[['Gene','baseMean','log2FoldChange', 'log2FoldChange' ]], final, how='left')
res

,Gene,baseMean,log2FoldChange,log2FoldChange,GOs,KEGG_ko,PFAMs
0,ahpF,963.833655,3.073755,3.073755,NaN,ko:K03387,"Pyr_redox_2,Thioredoxin_3"
1,BACUNI_03743,749.066783,2.337672,2.337672,NaN,NaN,DUF4834
2,BACUNI_03652,1612.164910,2.612723,2.612723,NaN,NaN,NaN
3,BACUNI_03643,9247.069626,1.703455,1.703455,NaN,NaN,NaN
4,BACUNI_03512,1492.596296,5.306026,5.306026,NaN,NaN,NaN
...,...,...,...,...,...,...,...
496,BACUNI_03093,42.930835,3.557489,3.557489,NaN,NaN,DUF3823
497,BACUNI_03442,51.607606,2.960922,2.960922,NaN,NaN,NaN
498,BACUNI_04665,147.589100,1.607345,1.607345,NaN,NaN,NaN
499,BACUNI_03147,54.960066,4.796762,4.796762,NaN,NaN,NaN
500,BACUNI_00590,99.225037,2.039805,2.039805,NaN,NaN,NaN

In [66]:
res['KEGG_ko'] = res['KEGG_ko'].str.strip('ko:')
res

,Gene,baseMean,log2FoldChange,log2FoldChange,GOs,KEGG_ko,PFAMs
0,ahpF,963.833655,3.073755,3.073755,NaN,K03387,"Pyr_redox_2,Thioredoxin_3"
1,BACUNI_03743,749.066783,2.337672,2.337672,NaN,NaN,DUF4834
2,BACUNI_03652,1612.164910,2.612723,2.612723,NaN,NaN,NaN
3,BACUNI_03643,9247.069626,1.703455,1.703455,NaN,NaN,NaN
4,BACUNI_03512,1492.596296,5.306026,5.306026,NaN,NaN,NaN
...,...,...,...,...,...,...,...
496,BACUNI_03093,42.930835,3.557489,3.557489,NaN,NaN,DUF3823
497,BACUNI_03442,51.607606,2.960922,2.960922,NaN,NaN,NaN
498,BACUNI_04665,147.589100,1.607345,1.607345,NaN,NaN,NaN
499,BACUNI_03147,54.960066,4.796762,4.796762,NaN,NaN,NaN
500,BACUNI_00590,99.225037,2.039805,2.039805,NaN,NaN,NaN

In [55]:
a = res.KEGG_ko.to_list()
a = [x for x in a if str(x) != 'nan']
for i in a:
    print(i)

K03387
K16055
K03687
K04043
K06889
K01192
K12373
K01178
K05595
K07001
K04079
K03696
K01667
K03585
K03088
K12373
K01190
K08717
K07322
K03655
K03088
K01179
K00845
K11645
K03832
K01447
K03088
K07175
K02314
K01190
K16213
K06926
K01179
K18815
K02371
K05349
K05349
K07017
K03296,ko:K18138
K03169
K05349
K01077
K02217
K03169
K21572
K03088
K07735
K01811
K03386
K01130
K06076
K06201
K21572
K03169
K17716
K01190
K01187,ko:K21574
K02004
K21572
K01992
K03657
K00012
K19355
K21572
K21572
K07133
K07507
K00848,ko:K00879
K07133
K01813
K00845
K03296
K03088
K01791
K01990
K19068
K03497
K05349
K01179
K21572
K05988
K01190

In [ ]:
K03387
K16055
K03687
K04043
K06889
K01192
K12373
K01178
K05595
K07001
K04079
K03696
K01667
K03585
K03088
K12373
K01190
K08717
K07322
K03655
K03088
K01179
K00845
K11645
K03832
K01447
K03088
K07175
K02314
K01190
K16213
K06926
K01179
K18815
K02371
K05349
K05349
K07017
K03296
K03169
K05349
K01077
K02217
K03169
K21572
K03088
K07735
K01811
K03386
K01130
K06076
K06201
K21572
K03169
K17716
K01190
K01187
K02004
K21572
K01992
K03657
K00012
K19355
K21572
K21572
K07133
K07507
K00848
K07133
K01813
K00845
K03296
K03088
K01791
K01990
K19068
K03497
K05349
K01179
K21572
K05988
K01190

In [59]:
res.head(50)

,Gene,GOs,KEGG_ko,PFAMs
0,ahpF,NaN,K03387,"Pyr_redox_2,Thioredoxin_3"
1,BACUNI_03743,NaN,NaN,DUF4834
2,BACUNI_03652,NaN,NaN,NaN
3,BACUNI_03643,NaN,NaN,NaN
4,BACUNI_03512,NaN,NaN,NaN
5,BACUNI_03481,NaN,NaN,NaN
6,BACUNI_03391,NaN,NaN,Mfa2
7,BACUNI_03387,NaN,NaN,"Helicase_C,N6_Mtase,ResIII,SNF2_N"
8,BACUNI_03182,NaN,NaN,NaN
9,BACUNI_03757,NaN,NaN,NaN
10,BACUNI_03083,NaN,NaN,NaN
11,BACUNI_02788,NaN,NaN,NaN
12,BACUNI_02748,NaN,NaN,NaN
13,BACUNI_02713,NaN,NaN,DUF5053
14,BACUNI_02648,NaN,NaN,NaN
15,BACUNI_02645,NaN,NaN,NaN
16,BACUNI_02644,NaN,NaN,NaN
17,BACUNI_02643,NaN,NaN,NaN
18,BACUNI_02460,NaN,NaN,NaN
19,BACUNI_02789,NaN,NaN,NaN
20,BACUNI_03818,NaN,NaN,NaN
21,BACUNI_03819,NaN,NaN,NaN
22,BACUNI_03859,NaN,NaN,NaN
23,otsB,NaN,K16055,"Glyco_transf_20,Trehalose_PPase"
24,mraZ,NaN,NaN,NaN
25,grpE,"GO:0000166,GO:0000774,GO:0003674,GO:0005488,GO...",K03687,GrpE
26,groS,NaN,NaN,NaN
27,groL,NaN,NaN,NaN
28,dnaK,NaN,K04043,HSP70
29,clpB,NaN,NaN,NaN
30,bc2018--bc2018___80_02675,NaN,NaN,NaN
31,bc2018--bc2018___80_02478,NaN,NaN,NaN
32,bc2018--bc2018___80_01083,NaN,NaN,NaN
33,bc2018--bc2018___80_00697,NaN,NaN,NaN
34,BACUNI_04692,NaN,NaN,NaN
35,BACUNI_04593,NaN,NaN,NaN
36,BACUNI_04543,NaN,K06889,"AXE1,DLH,Peptidase_S15"
37,BACUNI_04535,NaN,K01192,"Glyco_hydro_2,Glyco_hydro_2_C,Glyco_hydro_2_N"
38,BACUNI_04263,NaN,NaN,NaN
39,BACUNI_04043,NaN,NaN,NaN
40,BACUNI_04040,NaN,NaN,NaN
41,BACUNI_03980,NaN,NaN,NaN
42,BACUNI_02455,NaN,NaN,NaN
43,BACUNI_02454,NaN,NaN,NaN
44,BACUNI_03319,NaN,NaN,NaN
45,BACUNI_02222,NaN,NaN,NaN
46,BACUNI_00850,NaN,NaN,"Phage_int_SAM_5,Phage_integrase"
47,BACUNI_00770,NaN,NaN,NaN
48,BACUNI_00769,NaN,NaN,NaN
49,BACUNI_00754,NaN,K12373,"F5_F8_type_C,Fn3_assoc,Glyco_hydro_20,Glyco_hy..."

In [ ]:
'ahpF', 'otsB', 'mraZ', 'grpE', 'groS', 'groL', 'dnaK', 'clpB'

In [71]:
for i in res.head(50).Gene.to_list():
    print(i)

ahpF
BACUNI_04381
BACUNI_04263
BACUNI_04043
BACUNI_04040
BACUNI_03980
BACUNI_03859
BACUNI_03819
BACUNI_03818
BACUNI_03743
BACUNI_03652
BACUNI_03643
BACUNI_03512
BACUNI_03481
BACUNI_04535
BACUNI_03391
BACUNI_03319
BACUNI_03182
BACUNI_03083
BACUNI_02914
BACUNI_02789
BACUNI_02788
BACUNI_02748
BACUNI_02713
BACUNI_02648
BACUNI_02645
BACUNI_02644
BACUNI_02643
BACUNI_02460
BACUNI_03387
BACUNI_02455
BACUNI_04543
BACUNI_04593
yaeT
rpsD
rnfD
rnfB
purD
otsB
nrdD
mraZ
guaB
grpE
groS
groL
glmS
BACUNI_04578
gdhA
dnaK
cysN

In [135]:
uniprot=pd.read_csv('uniprot_annot.tsv', sep='\t')[['Protein names', 'Gene Names', 'Gene Ontology (biological process)', 'Gene Ontology (GO)']]
uniprot

,Protein names,Gene Names,Gene Ontology (biological process),Gene Ontology (GO)
0,Multifunctional fusion protein [Includes: Aden...,bioA bioB BACUNI_04237,biotin biosynthetic process [GO:0009102],"cytoplasm [GO:0005737]; 2 iron, 2 sulfur clust..."
1,Riboflavin biosynthesis protein RibBA [Include...,ribB ribBA BACUNI_00140,riboflavin biosynthetic process [GO:0009231],"3,4-dihydroxy-2-butanone-4-phosphate synthase ..."
2,Aspartate-semialdehyde dehydrogenase (ASA dehy...,asd BACUNI_00234,'de novo' L-methionine biosynthetic process [G...,aspartate-semialdehyde dehydrogenase activity ...
3,dITP/XTP pyrophosphatase (EC 3.6.1.66) (Non-ca...,rdgB BACUNI_00470,nucleotide metabolic process [GO:0009117]; pur...,dITP diphosphatase activity [GO:0035870]; ITP ...
4,Bifunctional protein HldE [Includes: D-beta-D-...,hldE rfaE BACUNI_00977,ADP-L-glycero-beta-D-manno-heptose biosyntheti...,ATP binding [GO:0005524]; heptose 7-phosphate ...
...,...,...,...,...
4642,Putative DNA-binding protein,BACUNI_04725,NaN,DNA binding [GO:0003677]; structural constitue...
4643,Secreted protein,BACUNI_04726,NaN,NaN
4644,PhnA Zinc-Ribbon,BACUNI_04727,NaN,NaN
4645,DUF4595 domain-containing protein,C801_02190,NaN,NaN
4646,YD repeat (Two copies),C801_00477,NaN,NaN

In [137]:
uniprot['bacuni'] = uniprot['Gene Names'].apply(lambda x: re.search(r'BACUNI_[0-9]*', str(x)).group() if 'BACUNI' in str(x) else np.nan)

In [138]:
uniprot = uniprot[['bacuni', 'Gene Ontology (biological process)']]
uniprot

            bacuni                 Gene Ontology (biological process)
0     BACUNI_04237           biotin biosynthetic process [GO:0009102]
1     BACUNI_00140       riboflavin biosynthetic process [GO:0009231]
2     BACUNI_00234  'de novo' L-methionine biosynthetic process [G...
3     BACUNI_00470  nucleotide metabolic process [GO:0009117]; pur...
4     BACUNI_00977  ADP-L-glycero-beta-D-manno-heptose biosyntheti...
...            ...                                                ...
4642  BACUNI_04725                                                NaN
4643  BACUNI_04726                                                NaN
4644  BACUNI_04727                                                NaN
4645           NaN                                                NaN
4646           NaN                                                NaN

[4647 rows x 2 columns]

In [139]:
uniprot[['go1', 'go2', 'go3', 'go4', 'go5', 'go6', 'go7']]=uniprot['Gene Ontology (biological process)'].str.split(";", expand = True)
uniprot

/tmp/ipykernel_25696/4087946772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uniprot[['go1', 'go2', 'go3', 'go4', 'go5', 'go6', 'go7']]=uniprot['Gene Ontology (biological process)'].str.split(";", expand = True)
/tmp/ipykernel_25696/4087946772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uniprot[['go1', 'go2', 'go3', 'go4', 'go5', 'go6', 'go7']]=uniprot['Gene Ontology (biological process)'].str.split(";", expand = True)

,bacuni,Gene Ontology (biological process),go1,go2,go3,go4,go5,go6,go7
0,BACUNI_04237,biotin biosynthetic process [GO:0009102],biotin biosynthetic process [GO:0009102],None,None,None,None,None,None
1,BACUNI_00140,riboflavin biosynthetic process [GO:0009231],riboflavin biosynthetic process [GO:0009231],None,None,None,None,None,None
2,BACUNI_00234,'de novo' L-methionine biosynthetic process [G...,'de novo' L-methionine biosynthetic process [G...,diaminopimelate biosynthetic process [GO:0019...,isoleucine biosynthetic process [GO:0009097],lysine biosynthetic process via diaminopimela...,threonine biosynthetic process [GO:0009088],None,None
3,BACUNI_00470,nucleotide metabolic process [GO:0009117]; pur...,nucleotide metabolic process [GO:0009117],purine nucleoside triphosphate catabolic proc...,None,None,None,None,None
4,BACUNI_00977,ADP-L-glycero-beta-D-manno-heptose biosyntheti...,ADP-L-glycero-beta-D-manno-heptose biosyntheti...,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
4642,BACUNI_04725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4643,BACUNI_04726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4644,BACUNI_04727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
uniprot['go_1'] = uniprot['go1'].apply(lambda x: re.search(r"GO:[0-9]*", str(x)).group() if 'GO' in str(x) else np.nan)

uniprot['go_2']= uniprot['go2'].apply(lambda x: re.search(r"GO:[0-9]*", str(x)).group() if 'GO' in str(x) else np.nan)

uniprot['go_3']= uniprot['go3'].apply(lambda x: re.search(r"GO:[0-9]*", str(x)).group() if 'GO' in str(x) else np.nan)
uniprot['go_4']=uniprot['go4'].apply(lambda x: re.search(r"GO:[0-9]*", str(x)).group() if 'GO' in str(x) else np.nan)
uniprot['go_5']=uniprot['go5'].apply(lambda x: re.search(r"GO:[0-9]*", str(x)).group() if 'GO' in str(x) else np.nan)
uniprot['go_6']=uniprot['go6'].apply(lambda x: re.search(r"GO:[0-9]*", str(x)).group() if 'GO' in str(x) else np.nan)
uniprot['go_7']=uniprot['go7'].apply(lambda x: re.search(r"GO:[0-9]*", str(x)).group() if 'GO' in str(x) else np.nan)

uniprot['go']=uniprot['go_1'].fillna('')+','+uniprot['go_2'].fillna('')+','+uniprot['go_3'].fillna('')+','+uniprot['go_4'].fillna('')+','+uniprot['go_5'].fillna('')+','+uniprot['go_6'].fillna('')+','+uniprot['go_7'].fillna('')
uniprot

,bacuni,Gene Ontology (biological process),go1,go2,go3,go4,go5,go6,go7,go_1,go_2,go_3,go_4,go_5,go_6,go_7,go
0,BACUNI_04237,biotin biosynthetic process [GO:0009102],biotin biosynthetic process [GO:0009102],None,None,None,None,None,None,GO:0009102,NaN,NaN,NaN,NaN,NaN,NaN,"GO:0009102,,,,,,"
1,BACUNI_00140,riboflavin biosynthetic process [GO:0009231],riboflavin biosynthetic process [GO:0009231],None,None,None,None,None,None,GO:0009231,NaN,NaN,NaN,NaN,NaN,NaN,"GO:0009231,,,,,,"
2,BACUNI_00234,'de novo' L-methionine biosynthetic process [G...,'de novo' L-methionine biosynthetic process [G...,diaminopimelate biosynthetic process [GO:0019...,isoleucine biosynthetic process [GO:0009097],lysine biosynthetic process via diaminopimela...,threonine biosynthetic process [GO:0009088],None,None,GO:0071266,GO:0019877,GO:0009097,GO:0009089,GO:0009088,NaN,NaN,"GO:0071266,GO:0019877,GO:0009097,GO:0009089,GO..."
3,BACUNI_00470,nucleotide metabolic process [GO:0009117]; pur...,nucleotide metabolic process [GO:0009117],purine nucleoside triphosphate catabolic proc...,None,None,None,None,None,GO:0009117,GO:0009146,NaN,NaN,NaN,NaN,NaN,"GO:0009117,GO:0009146,,,,,"
4,BACUNI_00977,ADP-L-glycero-beta-D-manno-heptose biosyntheti...,ADP-L-glycero-beta-D-manno-heptose biosyntheti...,None,None,None,None,None,None,GO:0097171,NaN,NaN,NaN,NaN,NaN,NaN,"GO:0097171,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4642,BACUNI_04725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,",,,,,,"
4643,BACUNI_04726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,",,,,,,"
4644,BACUNI_04727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,",,,,,,"
4645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,",,,,,,"
4646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,",,,,,,"

In [130]:
a = pd.merge(uniprot[['bacuni', 'go']], match)[['Gene', 'go']]
a

              Gene                                                 go
0             bioA                                   GO:0009102,,,,,,
1             ribB                                   GO:0009231,,,,,,
2              asd  GO:0071266,GO:0019877,GO:0009097,GO:0009089,GO...
3             rdgB                         GO:0009117,GO:0009146,,,,,
4             hldE                                   GO:0097171,,,,,,
...            ...                                                ...
3384  BACUNI_04719                                             ,,,,,,
3385          glnA                                   GO:0006542,,,,,,
3386  BACUNI_04721                                   GO:0006355,,,,,,
3387  BACUNI_04723                                             ,,,,,,
3388  BACUNI_04725                                             ,,,,,,

[3389 rows x 2 columns]

In [131]:
a.go = a.go.str.split(',')
a = a.explode('go').reset_index()[['Gene', 'go']]
a = a[a.go != '']

In [133]:
a

               Gene          go
0              bioA  GO:0009102
7              ribB  GO:0009231
14              asd  GO:0071266
15              asd  GO:0019877
16              asd  GO:0009097
...             ...         ...
23653  BACUNI_04713  GO:0006352
23681  BACUNI_04718  GO:0015937
23682  BACUNI_04718  GO:0016310
23695          glnA  GO:0006542
23702  BACUNI_04721  GO:0006355

[1644 rows x 2 columns]

In [134]:
a.to_csv('gomap_gene.tsv', sep='\t', index=False)

In [ ]:
##################

In [156]:
uniprot['go_1'] = uniprot['go1'].apply(lambda x: re.search(r"[''a-zA-Z0-9-_ ]*", str(x)).group() if str(x) else np.nan)

uniprot['go_2']= uniprot['go2'].apply(lambda x: re.search(r"[''a-zA-Z0-9-_ ]*", str(x)).group() if str(x) else np.nan)
uniprot['go_3']= uniprot['go3'].apply(lambda x: re.search(r"[''a-zA-Z0-9-_ ]*", str(x)).group() if str(x) else np.nan)
uniprot['go_4']=uniprot['go4'].apply(lambda x: re.search(r"[''a-zA-Z0-9-_ ]*", str(x)).group() if str(x) else np.nan)
uniprot['go_5']=uniprot['go5'].apply(lambda x: re.search(r"[''a-zA-Z0-9-_ ]*", str(x)).group() if str(x) else np.nan)
uniprot['go_6']=uniprot['go6'].apply(lambda x: re.search(r"[''a-zA-Z0-9-_ ]*", str(x)).group() if str(x) else np.nan)
uniprot['go_7']=uniprot['go7'].apply(lambda x: re.search(r"[''a-zA-Z0-9-_ ]*", str(x)).group() if str(x) else np.nan)

uniprot['Name']=uniprot['go_1'].fillna('')+','+uniprot['go_2'].fillna('')+','+uniprot['go_3'].fillna('')+','+uniprot['go_4'].fillna('')+','+uniprot['go_5'].fillna('')+','+uniprot['go_6'].fillna('')+','+uniprot['go_7'].fillna('')
uniprot

,bacuni,Gene Ontology (biological process),go1,go2,go3,go4,go5,go6,go7,go_1,go_2,go_3,go_4,go_5,go_6,go_7,go,Name
0,BACUNI_04237,biotin biosynthetic process [GO:0009102],biotin biosynthetic process [GO:0009102],None,None,None,None,None,None,biotin biosynthetic process,None,None,None,None,None,None,"biotin biosynthetic process ,None,None,None,No...","biotin biosynthetic process ,None,None,None,No..."
1,BACUNI_00140,riboflavin biosynthetic process [GO:0009231],riboflavin biosynthetic process [GO:0009231],None,None,None,None,None,None,riboflavin biosynthetic process,None,None,None,None,None,None,"riboflavin biosynthetic process ,None,None,Non...","riboflavin biosynthetic process ,None,None,Non..."
2,BACUNI_00234,'de novo' L-methionine biosynthetic process [G...,'de novo' L-methionine biosynthetic process [G...,diaminopimelate biosynthetic process [GO:0019...,isoleucine biosynthetic process [GO:0009097],lysine biosynthetic process via diaminopimela...,threonine biosynthetic process [GO:0009088],None,None,'de novo' L-methionine biosynthetic process,diaminopimelate biosynthetic process,isoleucine biosynthetic process,lysine biosynthetic process via diaminopimelate,threonine biosynthetic process,None,None,"'de novo' L-methionine biosynthetic process , ...","'de novo' L-methionine biosynthetic process , ..."
3,BACUNI_00470,nucleotide metabolic process [GO:0009117]; pur...,nucleotide metabolic process [GO:0009117],purine nucleoside triphosphate catabolic proc...,None,None,None,None,None,nucleotide metabolic process,purine nucleoside triphosphate catabolic proc...,None,None,None,None,None,"nucleotide metabolic process , purine nucleosi...","nucleotide metabolic process , purine nucleosi..."
4,BACUNI_00977,ADP-L-glycero-beta-D-manno-heptose biosyntheti...,ADP-L-glycero-beta-D-manno-heptose biosyntheti...,None,None,None,None,None,None,ADP-L-glycero-beta-D-manno-heptose biosyntheti...,None,None,None,None,None,None,ADP-L-glycero-beta-D-manno-heptose biosyntheti...,ADP-L-glycero-beta-D-manno-heptose biosyntheti...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4642,BACUNI_04725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,"nan,nan,nan,nan,nan,nan,nan","nan,nan,nan,nan,nan,nan,nan"
4643,BACUNI_04726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,"nan,nan,nan,nan,nan,nan,nan","nan,nan,nan,nan,nan,nan,nan"
4644,BACUNI_04727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,"nan,nan,nan,nan,nan,nan,nan","nan,nan,nan,nan,nan,nan,nan"
4645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,"nan,nan,nan,nan,nan,nan,nan","nan,nan,nan,nan,nan,nan,nan"
4646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,"nan,nan,nan,nan,nan,nan,nan","nan,nan,nan,nan,nan,nan,nan"

In [179]:
a = pd.merge(uniprot[['bacuni', 'Name']], match)[['Gene', 'Name']]
a

              Gene                                               Name
0             bioA  biotin biosynthetic process ,None,None,None,No...
1             ribB  riboflavin biosynthetic process ,None,None,Non...
2              asd  'de novo' L-methionine biosynthetic process , ...
3             rdgB  nucleotide metabolic process , purine nucleosi...
4             hldE  ADP-L-glycero-beta-D-manno-heptose biosyntheti...
...            ...                                                ...
3384  BACUNI_04719                        nan,nan,nan,nan,nan,nan,nan
3385          glnA  glutamine biosynthetic process ,None,None,None...
3386  BACUNI_04721  regulation of DNA-templated transcription ,Non...
3387  BACUNI_04723                        nan,nan,nan,nan,nan,nan,nan
3388  BACUNI_04725                        nan,nan,nan,nan,nan,nan,nan

[3389 rows x 2 columns]

In [180]:
a.Name = a.Name.str.split(',')
a = a.explode('Name').reset_index()[['Gene', 'Name']]
a = a[a.Name != 'None']
a = a[a.Name != 'nan']
a

               Gene                                          Name
0              bioA                  biotin biosynthetic process
7              ribB              riboflavin biosynthetic process
14              asd  'de novo' L-methionine biosynthetic process
15              asd         diaminopimelate biosynthetic process
16              asd              isoleucine biosynthetic process
...             ...                                           ...
23653  BACUNI_04713       DNA-templated transcription initiation
23681  BACUNI_04718              coenzyme A biosynthetic process
23682  BACUNI_04718                              phosphorylation
23695          glnA               glutamine biosynthetic process
23702  BACUNI_04721    regulation of DNA-templated transcription

[1644 rows x 2 columns]

In [181]:
td = pd.read_csv('gomap_gene.tsv', sep='\t')
td

              Gene          go
0             bioA  GO:0009102
1             ribB  GO:0009231
2              asd  GO:0071266
3              asd  GO:0019877
4              asd  GO:0009097
...            ...         ...
1639  BACUNI_04713  GO:0006352
1640  BACUNI_04718  GO:0015937
1641  BACUNI_04718  GO:0016310
1642          glnA  GO:0006542
1643  BACUNI_04721  GO:0006355

[1644 rows x 2 columns]

In [182]:
a = a.reset_index()[['Gene', 'Name']]

In [183]:
my_ser = td['go']
a['go'] = my_ser

In [187]:
a = a[['Name', 'go']]
a.Name = a.Name.apply(lambda x: x.strip())

In [189]:
a.to_csv('gomap_go_names.csv', index=False)

In [191]:
td[td['go']=='GO:0009056']

Empty DataFrame
Columns: [Gene, go]
Index: []

In [71]:
f = pd.merge(res, uniprot, on='bacuni', how='left')[['Gene', 'bacuni', 'Gene Ontology (biological process)']]
f

,Gene,bacuni,Gene Ontology (biological process)
0,ahpF,BACUNI_01061,response to reactive oxygen species [GO:0000302]
1,BACUNI_04381,BACUNI_04381,NaN
2,BACUNI_04263,BACUNI_04263,NaN
3,BACUNI_04043,BACUNI_04043,NaN
4,BACUNI_04040,BACUNI_04040,phosphorelay signal transduction system [GO:00...
...,...,...,...
505,BACUNI_04172,BACUNI_04172,NaN
506,BACUNI_00766,BACUNI_00766,NaN
507,bc2018--bc2018___80_01861,bc2018--bc2018___80_01861,NaN
508,BACUNI_04121,BACUNI_04121,sodium ion transport [GO:0006814]
509,BACUNI_04448,BACUNI_04448,NaN

In [194]:
b = data[(abs(data.log2FoldChange) > 1.5) & (data.padj < 0.05)]

In [197]:
bb = pd.merge(b,match)[['bacuni', 'Gene']]

In [204]:
len(pd.merge(bb, td)['Gene'].unique())

381

,bacuni,Gene Ontology (biological process),go1,go2,go3,go4,go5,go6,go7,go_1,go_2,go_3,go_4,go_5,go_6,go_7,go,Name
0,BACUNI_04237,biotin biosynthetic process [GO:0009102],biotin biosynthetic process [GO:0009102],None,None,None,None,None,None,biotin biosynthetic process,None,None,None,None,None,None,"biotin biosynthetic process ,None,None,None,No...","biotin biosynthetic process ,None,None,None,No..."
1,BACUNI_00140,riboflavin biosynthetic process [GO:0009231],riboflavin biosynthetic process [GO:0009231],None,None,None,None,None,None,riboflavin biosynthetic process,None,None,None,None,None,None,"riboflavin biosynthetic process ,None,None,Non...","riboflavin biosynthetic process ,None,None,Non..."
2,BACUNI_00234,'de novo' L-methionine biosynthetic process [G...,'de novo' L-methionine biosynthetic process [G...,diaminopimelate biosynthetic process [GO:0019...,isoleucine biosynthetic process [GO:0009097],lysine biosynthetic process via diaminopimela...,threonine biosynthetic process [GO:0009088],None,None,'de novo' L-methionine biosynthetic process,diaminopimelate biosynthetic process,isoleucine biosynthetic process,lysine biosynthetic process via diaminopimelate,threonine biosynthetic process,None,None,"'de novo' L-methionine biosynthetic process , ...","'de novo' L-methionine biosynthetic process , ..."
3,BACUNI_00470,nucleotide metabolic process [GO:0009117]; pur...,nucleotide metabolic process [GO:0009117],purine nucleoside triphosphate catabolic proc...,None,None,None,None,None,nucleotide metabolic process,purine nucleoside triphosphate catabolic proc...,None,None,None,None,None,"nucleotide metabolic process , purine nucleosi...","nucleotide metabolic process , purine nucleosi..."
4,BACUNI_00977,ADP-L-glycero-beta-D-manno-heptose biosyntheti...,ADP-L-glycero-beta-D-manno-heptose biosyntheti...,None,None,None,None,None,None,ADP-L-glycero-beta-D-manno-heptose biosyntheti...,None,None,None,None,None,None,ADP-L-glycero-beta-D-manno-heptose biosyntheti...,ADP-L-glycero-beta-D-manno-heptose biosyntheti...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4642,BACUNI_04725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,"nan,nan,nan,nan,nan,nan,nan","nan,nan,nan,nan,nan,nan,nan"
4643,BACUNI_04726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,"nan,nan,nan,nan,nan,nan,nan","nan,nan,nan,nan,nan,nan,nan"
4644,BACUNI_04727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,"nan,nan,nan,nan,nan,nan,nan","nan,nan,nan,nan,nan,nan,nan"
4645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,"nan,nan,nan,nan,nan,nan,nan","nan,nan,nan,nan,nan,nan,nan"
4646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,"nan,nan,nan,nan,nan,nan,nan","nan,nan,nan,nan,nan,nan,nan"

In [210]:
td[td.Gene =='recX']

     Gene          go
982  recX  GO:0006282

In [213]:
f = td[~td.Gene.str.startswith('BACUNI')]
f = f[~f.Gene.str.startswith('bc_')]
f = f[~f.Gene.str.startswith('contig')]
f

      Gene          go
0     bioA  GO:0009102
1     ribB  GO:0009231
2      asd  GO:0071266
3      asd  GO:0019877
4      asd  GO:0009097
...    ...         ...
1627  nusB  GO:0006353
1628  nusB  GO:0006355
1629  nusB  GO:0031564
1633  spoU  GO:0006396
1642  glnA  GO:0006542

[805 rows x 2 columns]

In [214]:
for i in f.Gene.to_list():
    print(i)

bioA
ribB
asd
asd
asd
asd
asd
rdgB
rdgB
hldE
pfp
pyrG
pyrG
nnrD
fabZ
fabZ
coaBC
coaBC
rlmN
fucI
ackA
ackA
ackA
dacA
dacA
murF
murF
murF
murF
murF
murQ
murQ
murQ
pnp
pnp
argC
ribD
proB
proB
ddl
ddl
ddl
miaB
uppP
uppP
uppP
uppP
uppP
metK
metK
uvrB
uvrB
lon
lon
tgt
tgt
ileS
thiE
thiE
thiC
thiC
rpoA
map
map
rpoC
gltX
pfkA
argB
argB
speA
speA
aroK
aroK
aroK
aroK
gmhA
gmhA
pdxB
purN
rnc
rnc
rnc
mnmA
mnmA
queH
queH
ruvB
ruvB
ruvB
dtd
leuC
purA
groL
purL
purL
maf
nth
queE
cysN
cysN
cysD
cysD
cysD
cysC
cysC
cysC
nadE
pepT
pepT
eno
mnmE
murA
murA
murA
murA
murA
murA
dxr
dxr
ppk1
ppk1
thyA
thyA
thyA
ispH
ispH
ispH
pfkA
ilvN
ilvN
ilvD
ilvD
aroC
aroC
aroC
pgi
pgi
dapF
ispD
ispD
glmS
glmS
glmS
carA
carA
carA
carA
panB
panB
purT
ispE
ispE
ispE
tsaD
tsaD
rimO
rimO
rimO
gyrA
gyrA
dapA
dapA
ligA
ligA
pyrK
aspS
thrS
dnaJ
dnaJ
dnaJ
fcl
fcl
gnd
gnd
gnd
zwf
zwf
pdxH
mtgA
mtgA
mtgA
ettA
ettA
serC
serC
lipB
nqrB
nqrB
nqrB
nqrC
nqrE
nqrE
nqrF
map
map
metA
miaA
glyA
glyA
glyA
cobU
cobU
cobS
fabH
guaB
ispF
ispF
mnmA
mnmA
ilvE
ilvE
ilvE
nadK
nadK
nadK
pdxJ
tpiA
tpiA
folE
folE
folE
rpe
rpe
panD
panD
panC
guaA
truA
adk
adk
obg
menG
menG
miaA
nagB
nagB
nagB
lipA
kduI
alr
dxs
dxs
dxs
nuoK
nuoN
ftsH
ftsH
alaS
psd
pyrH
pyrH
dut
dut
mraY
mraY
mraY
mraY
mraY
murD
murD
murD
murD
murD
murG
murG
murG
murG
murG
murG
murG
murC
murC
murC
murC
murC
gyrB
gyrB
gpmI
gpmI
ribF
ribF
ribF
ribF
ispG
ispG
topA
secD
secD
secD
pckA
pckA
typA
aroQ
aroQ
aroQ
rbsK
metG
cobB
coaD
tyrS
bioD
murB
murB
murB
murB
murB
kbl
kbl
lysA
hisE
hisF
hisH
hisH
nrfA
eno
queF
queC
rho
folD
folD
folD
folD
fabH
mutS2
mutS2
hisB
udk
udk
udk
metH
metH
dinB
dinB
dinB
coaX
coaX
secA
secA
secA
valS
recR
recR
dnaX
mutS
lgt
glyS
nusA
nusA
sufS
greA
rplS
rhaA
argR
argR
proC
argH
pyrE
murI
murI
murI
proA
argF
rpmH
leuS
nadA
nadB
truB
queA
folK
folK
folK
hydG
hydG
hydG
hydG
hydG
hydG
hydE
hydE
hydE
hydE
hydE
hydE
uvrA
serB
rfbC
uxaC
xylA
thiG
ftcD
ftcD
rplQ
rpsD
rpsK
rpsM
secY
secY
secY
rplO
rpmD
rpsE
rplR
rplF
rpsN
rplE
rplX
rplN
rpsQ
rpsC
rplB
rplW
rplD
rplC
rpsJ
rpsG
rpsL
rpoB
rplL
rplA
rplA
rplK
nusG
nusG
nusG
nusG
nusG
waaA
apbE
ftnA
ftnA
gpmA
gpmA
glgP
fabF
cysS
lepB
lepB_1
uxuA
ahpC
ahpF
ybeY
mnmG
apt
apt
apt
uvrC
uvrC
deoC
polA
polA
leuA
leuD
leuB
recQ
recQ
recQ
recQ
hisS
nifJ
uvrA
rfbD
prfC
pgk
pheS
ruvC
ruvC
tal
tal
rny
nfo
aat
clpS
clpS
cysQ
cysQ
araA
mfd
mfd
mutY
fba
fba
rpmE2
gcvT
gcvT
gdhA
nadD
gmk
ruvA
ruvA
ruvA
gdh
rfbB
rfbA
folA
folA
folA
cmk
cmk
ilvC
ilvC
ilvB
ilvB
mutA
lysS
msrA
asnA
ung
dnaA
dnaA
atpA
glgP
gpmA
gpmA
rpsP
trpC
trpD
dapL
carB
dnaB
ftsY
pyrD
pyrD
def
rplT
rplT
mltG
mltG
grpE
gmd
ugd
ugd
ptk_3
ptk_3
fbp
gmd
pgl
pgl
gcvP
gmd
pheT
lepA
nqrA
sbcD
sbcD
ppdK
ppdK
rsmI
tdk
tdk
thrC
radA
metF
metF
mreC
mreB
mreB
purH
fabG
sppA
lpxK
lpxK
thiL
thiL
thiL
kdsA
rplU
serS
prs
prs
prs
kdsB
kdsB
pyrB
pyrB
pyrB
pyrI
pyrI
fhs
atpG
galE
rnfD
rnfD
yidC
proS
cobT
cobQ
cobQ
pncB
accC
accC
cbiK
cbiK
cobJ
cobJ
cbiD
cbiD
cbiD
era
der
clpP
clpX
recQ
recQ
recQ
recQ
mutL
trpS
carB
purB
purB
asnS
rplM
rpsI
rex
rex
xseA
mrp
mdh
mdh
ispD
ispD
recG
recG
queA
uxuA
rpsF
rplI
mgsA
folB
folB
guaA
gap
recF
recF
recF
ribH
hpt
hpt
purC
pyrF
pyrF
lpxD
tatA
rsfS
rsfS
rsfS
cdsA
lpxB
rsgA
ribB
rsmH
ftsA
ftsZ
ftsZ
ftsZ
recO
recO
rpsT
bfce
rnhB
buk
rpoN
gcvH
purE
argS
rpsO
luxS
mtnN
mtnN
rbfA
xerC
xerC
xerC
cysK
purD
purD
rnpA
ald
glsA
nadC
phoU
phoU
phoU
pstA
pstC
glnS
recN
recN
dnaN
ftnA
ftnA
hisA
purU
purU
feoB
tilS
ffh
uxuA
pflB
recA
recA
recA
clpB
clpB
coaE
coaE
rplY
pth
hisC
hisD
hisG
smpB
phnX
secG
trxB
folP
bglB
rimP
sufB
sufD
yicJ_1
yicJ_1
eglS
rhaB
recX
yaeT
sulP
dacB
bepE_1
bepE_1
otsB
thiH
thiE
thiD
thiD
czcA
rpmC
raiA
raiA
rpsU
lpxA
dapB
dapB
pulA
pepD
manA
galK
rpiB
aspT
czcA
anmK
anmK
anmK
nrdD
glnA
rpmB
holA
rpmI
ydcV
xth
rumA
mrdA
rpmA
radC
rpiA
rprY
rprY
cobC
cobB
cbiE
cobM
cobM
aepX
tig
tig
rpsB
xseB
recJ
recJ
glmM
tag
rprY
rprY
yqeV
lpxA
nuoM
aroB
znuB
bglX
bglX
glcU
dprA
hemD
icaB
ycf
ccs1
nrfH
glnA
rhgT_1
ktrB
nusB
nusB
nusB
spoU
glnA

In [220]:
data = pd.read_csv('gomap_go_names.csv')
data

                                             Name          go
0                     biotin biosynthetic process  GO:0009102
1                 riboflavin biosynthetic process  GO:0009231
2     'de novo' L-methionine biosynthetic process  GO:0071266
3            diaminopimelate biosynthetic process  GO:0019877
4                 isoleucine biosynthetic process  GO:0009097
...                                           ...         ...
1639       DNA-templated transcription initiation  GO:0006352
1640              coenzyme A biosynthetic process  GO:0015937
1641                              phosphorylation  GO:0016310
1642               glutamine biosynthetic process  GO:0006542
1643    regulation of DNA-templated transcription  GO:0006355

[1644 rows x 2 columns]

In [221]:
data = data.drop_duplicates(subset=['Name', 'go'])
data

                                                   Name          go
0                           biotin biosynthetic process  GO:0009102
1                       riboflavin biosynthetic process  GO:0009231
2           'de novo' L-methionine biosynthetic process  GO:0071266
3                  diaminopimelate biosynthetic process  GO:0019877
4                       isoleucine biosynthetic process  GO:0009097
...                                                 ...         ...
1573          uroporphyrinogen III biosynthetic process  GO:0006780
1574                     cytokinin biosynthetic process  GO:0009691
1577                   monosaccharide metabolic process  GO:0005996
1582                                      ion transport  GO:0006811
1636  Gram-negative-bacterium-type cell outer membra...  GO:0043165

[425 rows x 2 columns]

In [222]:
data.to_csv('gomap_go_names.csv', index=False)

In [227]:
a=pd.read_csv('gomap_gene.tsv', sep='\t')

In [231]:
a[a.go == 'GO:0006817'].Gene.to_list()

['BACUNI_01623', 'phoU', 'pstC', 'BACUNI_04337', 'BACUNI_02146']

In [235]:
sig_list = data.Gene.to_list()

In [239]:
req_list = [i for i in a[a.go == 'GO:0005975'].Gene.to_list() if i in sig_list]
req_list

['murQ',
 'gmhA',
 'BACUNI_01029',
 'glmS',
 'nagB',
 'murG',
 'BACUNI_00355',
 'glgP',
 'BACUNI_00975',
 'tal',
 'BACUNI_01567',
 'BACUNI_01742',
 'glgP',
 'pgl',
 'BACUNI_03350',
 'BACUNI_03810',
 'bfce',
 'BACUNI_04177',
 'BACUNI_04184',
 'BACUNI_04501',
 'BACUNI_00059',
 'BACUNI_00065',
 'BACUNI_00066',
 'BACUNI_00160',
 'BACUNI_00168',
 'BACUNI_00193',
 'BACUNI_00195',
 'BACUNI_00199',
 'BACUNI_00200',
 'BACUNI_00204',
 'BACUNI_00211',
 'bglB',
 'BACUNI_00319',
 'BACUNI_00323',
 'BACUNI_00325',
 'BACUNI_00326',
 'eglS',
 'BACUNI_00385',
 'BACUNI_00392',
 'BACUNI_00393',
 'BACUNI_00667',
 'BACUNI_00717',
 'BACUNI_00754',
 'BACUNI_00919',
 'BACUNI_00923',
 'BACUNI_00962',
 'BACUNI_01004',
 'BACUNI_01025',
 'BACUNI_01042',
 'BACUNI_01080',
 'BACUNI_01084',
 'BACUNI_01085',
 'BACUNI_01086',
 'BACUNI_01106',
 'BACUNI_01155',
 'BACUNI_01156',
 'BACUNI_01159',
 'BACUNI_01184',
 'BACUNI_01201',
 'BACUNI_01213',
 'BACUNI_01214',
 'pulA',
 'manA',
 'BACUNI_01362',
 'rpiB',
 'BACUNI_01404',
 'BACUNI_01464',
 'BACUNI_01484',
 'BACUNI_01486',
 'BACUNI_01554',
 'BACUNI_01573',
 'BACUNI_01595',
 'BACUNI_01608',
 'BACUNI_01610',
 'BACUNI_01947',
 'BACUNI_02078',
 'BACUNI_02319',
 'BACUNI_02635',
 'BACUNI_02639',
 'BACUNI_02640',
 'BACUNI_02641',
 'BACUNI_02645',
 'BACUNI_02648',
 'BACUNI_03063',
 'BACUNI_03064',
 'BACUNI_03067',
 'BACUNI_03075',
 'BACUNI_03090',
 'BACUNI_03095',
 'BACUNI_03098',
 'BACUNI_03099',
 'BACUNI_03100',
 'BACUNI_03134',
 'BACUNI_03139',
 'BACUNI_03140',
 'BACUNI_03279',
 'BACUNI_03283',
 'BACUNI_03284',
 'glmM',
 'BACUNI_03326',
 'BACUNI_03347',
 'BACUNI_03400',
 'BACUNI_03701',
 'BACUNI_03703',
 'BACUNI_03787',
 'BACUNI_03795',
 'BACUNI_03809',
 'BACUNI_03821',
 'BACUNI_03824',
 'BACUNI_03829',
 'BACUNI_03859',
 'BACUNI_03957',
 'BACUNI_03959',
 'bglX',
 'bglX',
 'BACUNI_04017',
 'BACUNI_04018',
 'BACUNI_04019',
 'BACUNI_04020',
 'BACUNI_04021',
 'BACUNI_04062',
 'BACUNI_04064',
 'BACUNI_04180',
 'BACUNI_04194',
 'BACUNI_04447',
 'BACUNI_04498',
 'BACUNI_04508',
 'rhgT_1',
 'BACUNI_04517',
 'BACUNI_04528',
 'BACUNI_04535']

In [225]:
data[data.go == 'GO:0000302']

                                    Name          go
481  response to reactive oxygen species  GO:0000302

In [247]:
rib_list = pd.read_csv('metatranscriptomics/rib_metabol.csv')['Gene/product'].to_list()

In [249]:
a = set(data.Gene.to_list())
b = set(rib_list)
len(a&b)

45

In [24]:
data = pd.read_csv('DEG_data/MonoVSculture_DEG_results.csv').rename(columns={'Unnamed: 0':'Gene'})
data

              Gene      baseMean  log2FoldChange     lfcSE    pvalue      padj
0             aspT   2429.427663       -8.101215  0.207053  0.000000  0.000000
1     BACUNI_01562  12877.854615        8.834858  0.226832  0.000000  0.000000
2     BACUNI_02360   1952.826809        7.508341  0.167848  0.000000  0.000000
3     BACUNI_02389  18493.476733       -6.593524  0.157491  0.000000  0.000000
4     BACUNI_03826   5684.430326       -9.095140  0.207597  0.000000  0.000000
...            ...           ...             ...       ...       ...       ...
3459  BACUNI_04548   1044.550649       -0.001353  0.087996  0.987178  0.988320
3460  BACUNI_04705      6.084857        0.006082  0.458048  0.989056  0.989748
3461  BACUNI_03754     12.988127        0.005504  0.395575  0.989176  0.989748
3462  BACUNI_03262    592.556700       -0.000274  0.144337  0.996876  0.997164
3463  BACUNI_01963   1164.160978       -0.000189  0.204301  0.997288  0.997288

[3464 rows x 6 columns]

In [25]:
data = data[(abs(data.log2FoldChange) > 1.5) & (data.padj < 0.05)]
data

              Gene      baseMean  log2FoldChange     lfcSE    pvalue      padj
0             aspT   2429.427663       -8.101215  0.207053  0.000000  0.000000
1     BACUNI_01562  12877.854615        8.834858  0.226832  0.000000  0.000000
2     BACUNI_02360   1952.826809        7.508341  0.167848  0.000000  0.000000
3     BACUNI_02389  18493.476733       -6.593524  0.157491  0.000000  0.000000
4     BACUNI_03826   5684.430326       -9.095140  0.207597  0.000000  0.000000
...            ...           ...             ...       ...       ...       ...
2529  BACUNI_03030      3.190029       -2.126928  0.815598  0.002105  0.002883
2544  BACUNI_02343      5.217846       -1.649296  0.641162  0.002549  0.003469
2563  BACUNI_00081      3.637453       -1.704160  0.667371  0.003177  0.004293
2661  BACUNI_03629      2.666763       -1.808480  0.886970  0.008398  0.010928
2675  BACUNI_04486      3.389603       -1.502942  0.688303  0.009032  0.011689

[1302 rows x 6 columns]

In [27]:
data[data.Gene == 'BACUNI_03893']

,Gene,baseMean,log2FoldChange,lfcSE,pvalue,padj
327,BACUNI_03893,230.934742,5.851106,0.349406,1.262933e-63,1.333781e-62

In [ ]:
# SusD family protein Â· Gene: BACUNI_03893
# TonB-linked outer membrane protein, SusC/RagA family Â· Gene: BACUNI_03894

In [ ]:
#BACUNI_03693 Putative phage head-tail adaptor
#Phage portal protein Â· Gene: BACUNI_00037

#Transposase InsH N-terminal domain-containing protein Â· Gene: BACUNI_03899