In [1]:
import pandas as pd

In [10]:
data= pd.read_csv('HMM_out.txt')
data

,a,b,c,d,e,f,g,j,h,k,l,m,n,o,p,q,t,r
0,NaN,2.100000e-27,99.8,0.1,2.600000e-27,99.6,0.1,1.0,1,BACT.1122.00021.0003i_02358,669,NaN,|,NaN,|,NaN,|,ID=3_243;par
1,NaN,2.900000e-25,92.8,0.0,6.000000e-25,91.8,0.0,1.4,1,BACT.1122.00011.0001i_02522,651,NaN,|,NaN,|,NaN,|,ID=1_2522;pa
2,NaN,3.600000e-25,92.5,0.0,5.700000e-25,91.9,0.0,1.2,1,BACT.1122.00043.0033i_01225,771,NaN,|,NaN,|,NaN,|,ID=33_132;pa
3,NaN,8.200000e-25,91.4,0.0,1.600000e-24,90.4,0.0,1.4,1,BACT.1122.00036.0010i_01826,708,NaN,|,NaN,|,NaN,|,ID=10_403;pa
4,NaN,8.900000e-24,88.0,0.0,1.300000e-23,87.5,0.0,1.1,1,BACT.1122.00025.0006i_04263,765,NaN,|,NaN,|,NaN,|,ID=6_334;par
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,NaN,9.300000e-03,19.1,0.2,1.200000e-02,18.8,0.2,1.2,1,BACT.1122.00010.0001i_01955,321,NaN,|,NaN,|,NaN,|,ID=1_1955;pa
432,NaN,9.400000e-03,19.1,0.2,9.900000e-03,19.0,0.2,1.1,1,BACT.1122.00011.0001i_02586,309,NaN,|,NaN,|,NaN,|,ID=1_2586;pa
433,NaN,9.400000e-03,19.1,0.0,1.100000e-02,18.9,0.0,1.1,1,BACT.1122.00043.0044i_01572,555,NaN,|,NaN,|,NaN,|,ID=44_2;part
434,NaN,9.600000e-03,19.1,0.0,1.100000e-02,18.8,0.0,1.2,1,BACT.1122.00037.0018i_03427,555,NaN,|,NaN,|,NaN,|,ID=18_49;par
435,NaN,9.900000e-03,19.0,0.4,9.900000e-03,19.0,0.4,1.0,1,BACT.1122.00013.0001i_02115,213,NaN,|,NaN,|,NaN,|,ID=1_2115;pa

In [11]:
hmm_list = data.k.to_list()

In [13]:
from Bio import SeqIO

In [26]:
filt_list = []
for record in SeqIO.parse('/home/nastya/Bacteroides_uniformis_annotations/HMM/prot_sum.faa','fasta'):
    if record.id in hmm_list:
        l = len(record.seq)
        if l < 280 and l>200:
            filt_list.append(record.id)

In [27]:
len(filt_list)

69

In [28]:
ortho_list = ['BACT.1122.00046.0079b_04268', 'BACT.1122.00025.0001i_00200', 'BACT.1122.00025.0002i_00320', 'BACT.1122.00025.0002i_00430', 'BACT.1122.00018.0001i_00753', 'BACT.1122.00018.0001i_00988', 'BACT.1122.00002.0001i_03728', 'BACT.1122.00017.0001i_01110', 'BACT.1122.00017.0001i_05334', 'BACT.1122.00017.0001i_03592', 'BACT.1122.00026.0011i_04441', 'BACT.1122.00028.0006i_00446', 'BACT.1122.00038.0001i_00132', 'BACT.1122.00042.0040i_00787', 'BACT.1122.00042.0078i_03758', 'BACT.1122.00042.0040i_00786', 'BACT.1122.00042.0031i_00294', 'BACT.1122.00016.0001i_00630', 'BACT.1122.00016.0001i_00843', 'BACT.1122.00044.0050i_02351', 'BACT.1122.00005.0001i_00420', 'BACT.1122.00009.0001i_01926', 'BACT.1122.00021.0003i_03076', 'BACT.1122.00020.0002i_01964', 'BACT.1122.00039.0006i_00689', 'BACT.1122.00003.0001i_02800', 'BACT.1122.00003.0001i_00939', 'BACT.1122.00003.0001i_00711', 'BACT.1122.00023.0004i_02052', 'BACT.1122.00022.0010i_04023', 'BACT.1122.00034.0025i_03812', 'BACT.1122.00032.0010i_02594', 'BACT.1122.00032.0019i_04226', 'BACT.1122.00032.0023i_04935', 'BACT.1122.00008.0001i_03248', 'BACT.1122.00041.0104i_02706', 'BACT.1122.00048.0123i_01944', 'BACT.1122.00043.0051i_02361', 'BACT.1122.00043.0063i_03234', 'BACT.1122.00010.0001i_00808', 'BACT.1122.00010.0001i_01090', 'BACT.1122.00050.0088i_03363', 'BACT.1122.00014.0001i_03527', 'BACT.1122.00019.0001i_03981', 'BACT.1122.00011.0001i_01291', 'BACT.1122.00037.0009i_02106']

In [33]:
del_list = ['BACT.1122.00025.0001i_00200',
'BACT.1122.00042.0040i_00786',
'BACT.1122.00042.0040i_00787',
'BACT.1122.00042.0078i_03758',
'BACT.1122.00034.0025i_03812',
'BACT.1122.00050.0088i_03363']

for i in del_list:
    ortho_list.remove(i)
len(ortho_list)

40

In [34]:
len(set(filt_list)&set(ortho_list))

39

In [36]:
from Bio import SeqIO
for record in SeqIO.parse('/home/nastya/Bacteroides_uniformis_annotations/lexA_from_uniprot_official.fasta', "fasta"):
    if 'LEXA' in record.id:
        with open('/home/nastya/Bacteroides_uniformis_annotations/lexA_from_uniprot_official_filt.fasta', 'a') as out:
            out.write(f'>{record.id}\n{record.seq}\n')